.topic-list-element {
    overflow-wrap: break-word;
    vertical-align: top;

    .card.ready-to-release {
        $release-border-color: lighten(gold, 10);
        background: lighten(gold, 47);
        box-shadow: 0 2px 3px $release-border-color, 0 0 0 1px $release-border-color;
    }
}
