.topic-list-element {
    margin: 10px;
    width: calc(25% - 20px);
}

@media (max-width: 1400px) {
    .topic-list-element {
        width: calc(33% - 20px);
    }
}

@media (max-width: 1200px) {
    .topic-list-element {
        width: calc(50% - 20px);
    }
}

@media (max-width: 800px) {
    .topic-list-element {
        width: calc(100% - 20px);
    }
}
